<h4>
	ADDRESS
</h4>
<div>
	<%= field.store_address.to_s%>
</div>
<h4>
	EMAIL
</h4>
<div>
	<%= field.store_email.to_s%>
</div>
<h4>
	PHONE NUMBER
</h4>
<div>
	<%= field.store_phone_no.to_s%>
</div>
<h4>
	VAT NUMBER
</h4>
<div>
	<%= field.store_vat_number.to_s%>
</div>
<h4>
	REGISTERED NUMBER
</h4>
<div>
	<%= field.store_registered_number.to_s%>
</div>
